@model Emp

<form method="post">
    ID <input type="text" class="form-control" readonly asp-for="eid" /><br />
    Name <input type="text" class="form-control" asp-for="ename"/><br />

    Email <input type="text" class="form-control" asp-for="email" /><br />

    Salary <input type="text" class="form-control" asp-for="esalary" /><br />

    <input type="submit" value="Save" class="btn btn-primary">
</form>