@model Employee
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>


<table  class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">role</th>
            <th scope="col">salary</th>
            <th scope="col">ManagerId</th>
            <th scope="col">ManagerName</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody id="mydata">

    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" id="btn" class="btn btn-primary">
    Add
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addemployee">
                    <div class="form-group" id="empid">
                        <label>Id</label>
                        <input type="text" readonly class="form-control" name="Id" id="Id" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" class="form-control" name="Name" id="Name" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" id="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label >Role</label>
                        <input type="text" name="Role" id="Role" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input type="text" name="salary" id="Salary" class="form-control" >
                    </div>
                    @* <div class="form-group">
                        <label>ManagerId</label>
                        <input type="text" name="salary" id="ManagerId" class="form-control">
                    </div> *@
                    <div class="mb-3">
                        <label for="manager" class="form-label">Manager</label>
                        <select id="Mid" class="form-control" asp-items="@ViewBag.managers" name="Mid">
                           @*  @foreach (var d in @ViewBag.managers)
                            {
                                <option value="@d.Value">@d.Text</option>
                            } *@
                        </select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="clsbtn" >Close</button>
                <button type="submit" id="savebtn" class="btn btn-primary">Save changes</button>
                <button type="submit" id="updatebtn" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">mid</th>
            <th scope="col">mname</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody id="managerdata">
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ajax.js"></script>